@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

#nprogress .bar {
  height: 4px !important;
}

.nav {
  padding: 0 20px;
  height: 70px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  color: #ffc007;
}

.nav-logo:hover {
  color: white;
}
